a{
    color:#f82249;
}

.navbar{
    background-color: #060c22;
    padding-left: 10px;
}

.nav-link{
    color:#f82249;
}

.logo{
    width: 35px;
    padding: 2px;
}

.close{
    width: 50px !important;
}

