<div class="container">
    <div class="row">
        <div class="col-6 border border-light rounded p-5 shadow mt-5" >
            <h6>Novo Curso</h6>
            <hr>
            <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Nome do Curso</label>
                    <div class="col-sm-10">
                    <input type="text" class="fomr-control form-control-sm" formControlName="cursoNome" />
                </div>
            </div>
            <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Link da Imagem</label>
                    <div class="col-sm-10">
                    <input type="text" class="fomr-control form-control-sm" formControlName="imagemUrl" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Descrição</label>
                    <div class="col-sm-10">
                    <input type="text" class="fomr-control form-control-sm" formControlName="descricao" />
                </div>
                </div>
                
                
                <div class="row mb-3">
                    <div class="row">
                        <div class="col-2">
                            <button type="subimt" class="btn btn-success" >Salvar</button>
                        </div>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
