.icon{
    font-size: 25px;
    padding-left: 5px;
    cursor:pointer;
}

.icon-delete{
    color: #f82249;
}

.icon-edit{
    color: #132f59d9;
}

.btn-certificado{
    width: 150px !important;
}

#close{
    width: 50px !important;
}

.modal-body{
    align-self: center
}

.icon-play{
    font-size: 30px;
    cursor:pointer;
    color: #f82249;
}

.form-check{
    font-size: 30px;
    color: #f82249;
    padding-left: 30%;
}

