.icon{
    font-size: 25px;
    padding-left: 5px;
    cursor:pointer;
}

.icon-delete{
    color: #f82249;
}

.icon-edit{
    color: #132f59d9;
}

.close{
    border: none;
    background-color: #fff;
    font-size: 30px;
}