<app-header></app-header>

<div *ngIf="autenticado" class="container">
    <div class="row mt-5 mb-5">
        <div class="container pm-certificate-container" id="certificado">
            <div class="outer-border"></div>
            <div class="inner-border"></div>

            <div class="pm-certificate-border col-xs-12">
                <div class="row pm-certificate-header">
                    <div class="pm-certificate-title cursive col-xs-12 text-center">                     
                        <img src="assets\img\logo-com-nome.png" />
                        <h1>Diploma</h1>
                        <h5>CONFERIMOS A</h5>
                    </div>
                </div>

                <div class="row pm-certificate-body">

                    <div class="pm-certificate-block">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="pm-certificate-name underline margin-0 col-xs-8 text-center">
                                    <span class="pm-name-text bold">{{ usuarioAutenticado?.nome }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="pm-course-title underline col-xs-8 text-center">
                                    <span class="pm-credits-text block bold sans"> o certificado de conclução do curso
                                    {{ curso?.cursoNome}} com a duração de {{curso?.duracao}}h emitido no dia {{data | date: 'dd/MM/yyyy'}}.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-botao-add">
        <button class="btn btn-secondary" (click)="exportHtmlToPDF()">Baixar</button>
    </div>
</div>

<div class="acesso-negado" *ngIf="!autenticado">
    <p>Ops, você não tem acesso!</p>
</div>