<div *ngIf="autenticado">
    <h1>Cursos</h1>
    <hr>
    <div action="" class="form-inline">
        <div class="form-group md-2">
            <input class="form-control mb2-2" placeholder="Buscar" [(ngModel)]="filtroLista">
        </div>
    </div>
    <hr>
    <div class="container-botao-add">
        <button class="btn btn-secondary" routerLink="/curso/adicionar">Adicionar</button>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Duração (Horas)</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody *ngIf="cursos && cursos.length">
            <tr *ngFor="let curso of cursosFiltrados">
                <td>
                    <img [src]="curso.imagemUrl" />
                </td>
                <td>{{ curso.cursoNome }}</td>
                <td>{{ curso.descricao }}</td>
                <td>{{ curso.duracao }}</td>
                <td>
                    <a [routerLink]="['/curso/editar',curso.cursoId]" class="icon icon-edit bi bi-pencil-square"></a>
                    <a (click)="abrirModal(modalConfirmacaoDeletar,curso.cursoId)"
                        class=" icon icon-delete bi bi-trash-fill"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!autenticado">
    <h1>Ops, você não tem acesso!</h1>
</div>

<ng-template #modalConfirmacaoDeletar let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Atenção</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Você tem certeza que deseja deletar este registro?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Confirmar</button>
    </div>
</ng-template>