img{
    height: 60px;
    width: 90px;
}

h1{
    margin-top: 60px;
    margin-bottom: 60px;
}

.close{
    border: none;
    background-color: #fff;
    font-size: 30px;
}

button{
    border-radius: 30px;
    width: 100px;
}

.icon{
    font-size: 25px;
    padding-left: 5px;
    cursor:pointer;
}

.icon-delete{
    color: #f82249;
}

.icon-edit{
    color: #132f59d9;
}

img{
    border-radius: 10px;
}